<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Registro chat</title>
  <script src="js/jquery.js"></script>
  <link rel="stylesheet" href="css/chat.css">
</head>
<body>

<div id="registro">
  <div class="centradoExterior">
  	<div class="centradoInterior">
  		<div>CHAT Y este es el resultado: ${usuario.idUsuario} </div>
  		<p th:text="'CHAT Hello, ' + ${usuario.id} + ' --- '  + ${usuario.nombre} + '!'" />
  	</div>
    <div class="centradoInterior"><button type="button" id="btnEnviar">Enviar</button></div>
  </div>
</div>

<script>
  $("#btnEnviar").click(function(){
    var obj = {};
    obj.alias = $("#alias").val();
    obj.nombre = $("#nombre").val();
    obj.apellido1 = $("#apellido1").val();
    obj.apellido2 = $("#apellido2").val();
    obj.habilitado = true;
    $.ajax({
      url: "http://localhost:8080/api/usuario",
      data: JSON.stringify(obj),
      dataType: "text",
      type: "POST",
      headers: {
        "Content-Type": "application/json; charset=utf-8"
      },
      success: function(data, textStatus, jqXHR) {
        console.log("Success: " + textStatus + "--" + data + "--" + jqXHR);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log("Error: " + jqXHR + "--" + textStatus + "--" + errorThrown);
      }
    });
  });
  //document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>


</body>
</html>
