
.centradoExterior {
  border: 1px solid blue;
  width:100%
}

.centradoInterior {
  display: table;
  margin: 0 auto;
  border: 1px solid green;
}

.lblRegistro {
  padding-left:26px;
  width:225px;
  text-transform: uppercase;
  display:inline-block;
  vertical-align: top;
}

#registro > .centradoExterior > .centradoInterior > div {
  height: 80px;
}

#registro > .centradoExterior > .centradoInterior label, #registro > .centradoExterior > .centradoInterior input  {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
